footer nav ul li 
    {color: rgb(20, 19, 20);
        font-size: 15px;}

        h3{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: black;
            font-size: small;
            text-decoration-line: overline;
        }
        